<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Termos de Uso</title>
</head>
<body>

<!--<div th:replace="fragments/header :: header"></div>-->
<div th:replace="~{fragments/header :: header}"></div>

<h1>Termos de Uso</h1>
<hr>
<p>
    Este aplicativo é fornecido "no estado em que se encontra", sem garantias de qualquer tipo, expressas ou implícitas.
    Ao utilizar este sistema, você concorda com os termos e condições definidos pela equipe de desenvolvimento.
</p>
<p>
    Nenhum dado pessoal é coletado ou compartilhado sem consentimento explícito. Este serviço é fornecido
    apenas para fins de demonstração ou uso interno.
</p>
<p>
    O aplicativo pode ser atualizado, modificado ou descontinuado a qualquer momento, sem aviso prévio.
</p>

<hr>

<!--<div th:replace="fragments/footer :: footer"></div>-->
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
