<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<header th:fragment="header">

    <style>

        .header-container{
            background:#1e293b;
            color:white;
            padding:25px 20px;
            text-align:center;
            border-bottom:3px solid #0f172a;
        }

        .header-container h1{
            margin:0;
            font-size:26px;
        }

        .header-container p{
            margin-top:8px;
            font-size:14px;
            color:#cbd5f5;
        }

    </style>

    <div class="header-container">
        <h1>Pegasus soluções e serviços SA</h1>
        <p>Inovação e soluções inteligentes para um futuro melhor</p>
    </div>

</header>

</body>
</html>